body{
    overflow-x: hidden;
}
.container{
    width: 80%;
    background: #F9F9F9;
    margin: auto;
    display: flex;
    padding: 2rem;
    border-radius: 10px;
    .left{
        h1{
            font-size: 3.5rem;
        }
        p{
            font-size: 1.5rem;
            i{
                color: #DE5944;
            }
        }
        .p1{
            color: gray;
        }
        a{
            color: #DE5944;
            font-size: 1.7rem;
            text-decoration: none;
        }
    }
    .right{
        width: 400px;
        height: auto;
        .img{
            width: 100%;
            height: auto;
        }
    }
}
@media (max-width:810px) {
    .container{
        .right{
            display: none;
        }
    }
}
@media (max-width:1070px) {
    .container{
        display: flex;
        flex-flow: column;
        .right{
            margin-top: 2rem;
        }
    }
}